build/
.idea/
out/
cmake-build-debug/
fbx_sdk/
cyBVH.h
cyColor.h
cyCore.h
cyMatrix.h
cyTriMesh.h
cyVector.h
lights.h
materials.h
objects.h
photonmap.h
renderer.h
rng.h
scene.h
texture.cpp
texture.h
viewport.cpp
xmlload.cpp
xmlload.h